<div ng-controller="horizon.dashboard.machine_learning.models.DrawerController as drawerCtrl">
  <div class="row">
    <span class="rsp-alt-p3">
      <dl class="col-md-4">
        <dt translate>Result</dt>
        <dd>{$ item.stdout $}</dd>
      </dl>
      <dl class="col-md-4">
        <dt translate>ID</dt>
        <dd>{$ item.id $}</dd>
      </dl>
      <dl class="col-md-4">
        <dt translate>Model Params</dt>
        <dd>{$ item.params $}</dd>
      </dl>
    </span>
  </div>
</div>
