<div ng-controller="createModelInfoController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-name" translate>Model Name</label>
        <input name="model-name" type="text" class="form-control" id="model-name"
               ng-model="model.newModelSpec.display_name"
               placeholder="{$ 'Name of the model to create.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-description" translate>Model Description</label>
        <input name="model-description" type="text" class="form-control" id="model-description"
               ng-model="model.newModelSpec.display_description"
               placeholder="{$ 'Description of the model to create.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="model-experiment-id">
          <translate>Experiment</translate>
          <span class="hz-icon-required fa fa-asterisk"></span>
        </label>
        <select class="form-control"
                ng-model="model.newModelSpec.experiment_id"
                ng-required="true"
                ng-options="experiment.id as experiment.name + ':' + experiment.id for experiment in ctrl.experiments">
        </select>
      </div>
    </div>
  </div>
</div>
