<div ng-controller="OverviewController as ctrl">
  <p class="step-description" translate>Please provide the initial hostname for the instance, the availability zone where it will be deployed, and the instance count.
    Increase the Count to create multiple instances with the same settings.</p>
  <div class="col-xs-12 col-sm-4">
    <pie-chart chart-data="ctrl.instanceStats" chart-settings="ctrl.chartSettings"></pie-chart>
  </div>
</div>
<meteos-topology id="meteosTopologyCanvas"></meteos-topology>
