<div ng-controller="horizon.dashboard.machine_learning.model_evaluations.DrawerController as drawerCtrl">
  <div class="row">
    <span class="rsp-alt-p3">
      <dl class="col-md-4">
        <dt translate>ID</dt>
        <dd>{$ item.id $}</dd>
      </dl>
    </span>
  </div>
</div>
